body {
	gap: 60px;
}

.navbar-item {
	display: flex;
	gap: 10px;
	align-items: center;
}

.fa-angle-left {
	font-size: 15px;
}

.main-container {
	display: flex;
	flex-flow: column;
	align-items: center;
	gap: 60px;
	width: 100%;
}

.sale-section_container {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-bottom: 30px;
}

#compra-info__container {
	display: flex;
	align-items: center;
	width: 45%;
	box-shadow: 5px 5px 15px #ccc;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

#compra-check__container {
	display: flex;
	align-items: center;
	text-align: center;
	width: 15%;
	margin-left: 30px;
	box-shadow: 5px 5px 15px #ccc;
	border-radius: 10px;
}

#img-container {
	display: flex;
	justify-content: center;
	background-color: #fff;
	overflow: hidden;
	z-index: 50;
}

#tittle__container {
	font-size: 12px;
	padding-bottom: 5px;
}

#info-container {
	display: flex;
	flex-flow: column;
	gap: 20px;
	width: 100%;
	height: 100%;
	padding: 20px 40px;
}

#sector__container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.sector-item {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	text-align: center;
	font-size: 12px;
	padding: 5px 5px 5px 10px;
	border: 1px solid #000;
	border-radius: 10px;
	box-shadow: 10px 10px 15px #ddd;
}

.item-price {
	font-weight: 800;
}

.sector-item__container {
	display: flex;
	flex-direction: column;
	width: 100%;
	text-align: left;
}

.sector-input__container {
	display: inline-block;
	text-align: right;
	margin-right: 20px;
}

.item-display-none {
	display: none;
}

.stock-display {
	display: none;
}

.stock-message {
	display: inline-block;
}

.item-selection {
	display: inline-block;
	width: 18%;
	margin-left: auto;
	text-align: center;
	border-radius: 10px;
}

.item-button,
.btn-check__style {
	font-weight: 800;
	background-color: #572671;
	color: #fff;
	border: none;
	padding: 5px 10px;
	border-radius: 10px;
}

.item-selection-error {
	display: none;
	color: #ff0000;
}

.rojo {
	background-color: chartreuse;
}

/* SECCION COMPROBAR COMPRA */

#compra-check__container {
	display: flex;
	flex-flow: column;
	justify-content: center;
	background: #fff;
	text-align: right;
}

#barcode-container {
	text-align: center;
}

.fa-barcode {
	font-size: 100px;
}

#compra-unit {
	font-size: 42px;
	font-weight: 800;
	border-top: 2px solid #9ea3a8;
	padding-top: 10px;
}

#compra-name {
	font-size: 20px;
	font-weight: 800;
	color: #9ea3a8;
	text-transform: uppercase;
}

#compra-price {
	color: #a80f71;
	border-bottom: 2px solid #9ea3a8;
	padding-bottom: 10px;
	font-size: 20px;
}

#btn-check__container {
	display: flex;
	justify-content: center;
	gap: 1rem;
	width: 100%;
	margin: 30px 0;
}

.btn-check__style {
	cursor: pointer;
	background: #880c5a;
	width: 45%;
}

.btn-check__style:active {
	transform: scale(95%);
}

#selection-error {
	color: #ff0000;
}

#btn-pay__container {
	display: none;
}

.btn-display {
	display: flex;
}

/* TABLA DE CONFIRMACION */

#compra-confirm__container {
	display: none; /*  -------------------------- */
	justify-content: space-between;
	flex-wrap: wrap;
	width: 60%;
	margin-bottom: 50px;
}

.compra-confirm_section {
	padding: 50px;
	box-shadow: 5px 5px 15px #ccc;
}

#table-confirm__container,
#table-form {
	display: flex;
	flex-direction: column;
}

#table-confirm__container {
	background-color: #fff;
	gap: 20px;
	align-items: flex-end;
}

.table-confirm__tittle {
	font-size: 22px;
	margin: 0 auto 10px auto;
}

#table-body {
	display: flex;
	flex-direction: column;
	width: max-content;
	align-items: flex-end;
}

#table-form {
	justify-content: center;
}

#table-headboard {
	font-weight: 600;
	color: #fff;
	background-color: #556677;
}

#table-headboard,
.table-body__section {
	display: flex;
	align-items: center;
	padding: 10px;
	width: max-content;
}

.table-body__section {
	font-size: 12px;
	margin: 10px 0 5px 0;
	box-shadow: 0px 2px 10px #ccc;
	position: relative;
	background: #fff;
}

.table-total {
	font-size: 14px;
	font-weight: 800;
}

.table-headboard__item,
.table-cell {
	text-align: center;
	min-width: 100px;
	max-width: 100px;
	margin: 0 20px;
}

.table-cell {
	display: flex;
	align-items: center;
	min-height: 30px;
}

.table-cell p {
	width: 100%;
}

.btn-remove {
	display: flex;
	align-items: center;
}

.icon-position {
	font-size: 14px;
	padding-top: 2px;
	position: absolute;
	right: 15px;
	color: #ff0000;
}

.icon-position:hover {
	cursor: pointer;
}
