.sale-section_container {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 50px auto;
}

#detalle_evento_nombre {
  display: grid;
  grid-template-columns: 225px 1fr;
  grid-template-rows: 75px 325px;
  grid-column-gap: 20px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px #777;
}

#detalle_evento_ubicacion {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.sector_container {
  display: inline-block;
}
