body {
	gap: 60px;
}

.main-container {
	display: flex;
	flex-flow: column;
	align-items: center;
	width: 100%;
}

.sale-section_container {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-bottom: 30px;
}

#compra-info__container {
	display: flex;
	align-items: center;
	width: 45%;
	box-shadow: 5px 5px 15px #ccc;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

#compra-pay__container {
	display: flex;
	align-items: center;
	text-align: center;
	width: 15%;
	margin-left: 30px;
	box-shadow: 5px 5px 15px #ccc;
	border-radius: 10px;
}

#img-container {
	display: flex;
	justify-content: center;
	background-color: #fff;
	overflow: hidden;
	z-index: 50;
}

#tittle__container {
	font-size: 12px;
	padding-bottom: 5px;
}

#info-container {
	display: flex;
	flex-flow: column;
	gap: 20px;
	width: 100%;
	height: 100%;
	padding: 20px 40px;
}

#sector__container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.sector-item {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	text-align: center;
	font-size: 12px;
	padding: 5px 5px 5px 10px;
	border: 1px solid #000;
	border-radius: 10px;
	box-shadow: 10px 10px 15px #ddd;
}

.item-price {
	font-weight: 800;
}

.sector-item__container {
	display: flex;
	flex-direction: column;
	width: 100%;
	text-align: left;
}

.sector-input__container {
	display: inline-block;
	text-align: right;
	margin-right: 20px;
}

.item-display-none {
	display: none;
}

.stock-display {
	display: none;
}

.stock-message {
	display: inline-block;
}

.item-selection {
	display: inline-block;
	width: 18%;
	margin-left: auto;
	text-align: center;
	border-radius: 10px;
}

.item-button {
	font-weight: 800;
	background-color: #572671;
	color: #fff;
	border: none;
	padding: 5px 10px;
	border-radius: 10px;
}

.item-selection-error {
	display: none;
	color: #ff0000;
}

.rojo {
	background-color: chartreuse;
}

/* SECCION COMPRA */

#compra-pay__container {
	display: flex;
	flex-flow: column;
	justify-content: center;
}

#selection-error {
	color: #ff0000;
}

#btn-pay__container {
	display: none;
}

.btn-display {
	display: flex;
}

/* TABLA DE CONFIRMACION */

#compra-confirm__container {
	display: none;
	width: 60%;
	margin-bottom: 50px;
	box-shadow: 5px 5px 15px #ccc;
}

#table-confirm__container,
#table-form {
	display: flex;
	flex-direction: column;
	width: max-content;
	margin: 30px 30px;
}

#table-form {
	width: 30%;
}

#table-confirm__container {
	margin-left: 30px;
	align-items: flex-end;
}

#table-body {
	display: flex;
	flex-direction: column;
	width: max-content;
	align-items: flex-end;
	margin-bottom: 10px;
}

.table-total {
	margin-top: 5px;
}

#table-form {
	justify-content: center;
}

#btn-container {
	display: flex;
}

#btn-buy,
#btn-back {
	min-width: 100px;
	max-width: 100px;
}

#table-headboard {
	font-weight: 600;
	border-bottom: 1px solid #000;
}

#table-headboard,
.table-body__section {
	display: flex;
	align-items: center;
	padding: 10px;
	width: max-content;
}

.table-body__section {
	font-size: 12px;
	margin: 10px 0 5px 0;
	box-shadow: 0px 2px 10px #ccc;
	position: relative;
}

.table-headboard__item,
.table-cell {
	text-align: center;
	min-width: 100px;
	max-width: 100px;
	margin: 0 20px;
}

.table-cell {
	display: flex;
	align-items: center;
	min-height: 30px;
}

.table-cell p {
	width: 100%;
}

#table-form div {
	display: inline-block;
}

.btn-remove {
	display: flex;
	align-items: center;
}

.icon-position {
	font-size: 14px;
	padding-top: 2px;
	position: absolute;
	right: 15px;
	color: #ff0000;
}

.icon-position:hover {
	cursor: pointer;
}
