* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Noto Sans", sans-serif;
}

body {
	height: 100vh;
	margin: auto;
	justify-content: space-between;
	align-items: center;
	/* background: #18171c; */
}

header {
	min-height: 125px;
	background-color: #000;
	border-bottom: 5px solid #fff;
}

header,
#footer_container {
	width: 100%;
}

body,
.header-container,
.navbar-container,
.section-container,
#section-item__container,
.evento-container,
.img-container,
.img-event_container,
.first-btn {
	display: flex;
}

.header-container {
	width: 60%;
	height: 100%;
	margin: auto;
	padding: 15px 0;
	justify-content: space-between;
	align-items: center;
}

.header-logotipe {
	width: 100px;
}

.navbar-container {
	gap: 35px;
	padding: 10px 0;
	font-size: 11px;
	font-weight: 400;
	justify-content: space-around;
	align-items: center;
}

.navbar-item {
	height: 15px;
	letter-spacing: 1.5px;
	list-style: none;
	text-decoration: none;
	color: #fff;
	transition: all 0.2s;
}

.navbar-item:hover {
	color: #a80f71;
	transform: scaleX(105%);
	border-radius: 3px;
}

body,
.section-container {
	flex-direction: column;
}

#main-container {
	width: 100%;
	background: #111014;
}

/* BANNER SECTION  */

#banner__section {
	position: relative;
}

#banner__section,
#parallax__item {
	width: 100%;
	height: 350px;
	background-image: url(../img/fondoparallax.jpg);
	background-size: cover;
	background-position-y: 60%;
	transition: all 1.5s;
}
#banner__section:hover {
	background-position-y: 55%;
}

#parallax__item {
	background-image: url(../img/firstparallax.png);
}

#parallax__item:hover {
	background-position-y: 63%;
}

#banner__tittle {
	position: absolute;
	bottom: 35px;
	left: 20%;
	font-weight: 800;
	font-style: italic;
	font-size: 35px;
	color: #fff;
	text-shadow: 2px 2px 0px #000;
	text-decoration: none;
}

#banner__tittle::selection {
	background-color: #000;
}

#galery_button-down,
#galery-button__tittle,
#galery_button-up {
	position: absolute;
}

#galery_button-up {
	display: none;
}

#galery_button-down,
#galery_button-up {
	left: calc(50% - 25px);
	bottom: -25px;
	width: 50px;
	height: 50px;
	border-style: none;
	border-radius: 100%;
	background-color: #fff;
	box-shadow: 0px 0px 6px #444;
}

#galery_button-up {
	box-shadow: none;
}
#galery_button-down:hover,
#galery_button-up:hover {
	background-color: #eee;
	cursor: pointer;
}

#galery-button__tittle {
	bottom: 35px;
	left: calc(50% - 26px);
	font-size: 16px;
	color: #fff;
}

.fa-chevron-down,
.fa-chevron-up {
	font-size: 18px;
}

#galery__section {
	display: grid;
	box-sizing: unset;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 1fr;
	padding-top: 5px;
	background-color: #fff;
	width: 100%;
	height: 165px;
}

.galery-item {
	background-color: #eee;
}

/* CIERRE BANNER SECTION  */

.section-container {
	width: 100%;
	gap: 100px;
}

#article-service {
	margin-top: 100px;
}

#article-event {
	background-image: url(/img/fondo2.jpg);
	background-color: #111014;
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: left;
}

.article-container {
	display: grid;
	width: 100%;
	text-align: center;
	padding: 20px;
}

#article-service {
	display: flex;
	justify-content: flex-end;
	height: 550px;
	background-image: url(/ai/fondos/luciano\ pereyra-fondo.jpg);
	background-color: #18171c;
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: left;
}

.service_tittle,
#event_tittle {
	font-size: 20px;
	color: #a80f71;
}

.service_tittle {
	color: #fff;
	font-size: 25px;
	font-weight: 400;
}

.service_tittle b {
	font-size: 35px;
}

.service__container {
	flex-direction: column;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	color: #fff;
	gap: 20px;
	width: 50%;
	margin-right: 50px;
}

.service-card {
	display: flex;
	justify-content: center;
	gap: 50px;
}

#section-item__container,
.item__container {
	flex-wrap: wrap;
	justify-content: flex-end;
	gap: 50px;
	text-align: center;
}

#section-item__container {
	margin-right: 50px;
	align-items: center;
	height: 550px;
	color: #fff;
}

.item__container {
	display: inline-block;
	max-width: 225px;
	min-width: 150px;
	font-weight: 600;
}

.img__container {
	display: inline-block;
	margin: 20px;
	width: 35%;
}

/* .item__tittle {
	padding: 10px;
} */

.item__content {
	font-size: 12px;
	font-weight: 400;
	margin-top: 10px;
}

.evento-container {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	overflow: hidden;
	border-radius: 10px;
}

.img-container,
.img-event_container {
	align-content: center;
	justify-content: center;
	width: 225px;
	height: 250px;
	overflow: hidden;
}

.img-item {
	height: 100%;
	transition: all 0.7s;
}

.img-item:hover {
	height: 110%;
}

.titulo-evento {
	margin-top: 20px;
	margin-bottom: 3px;
	font-size: 20px;
}

.fecha-evento {
	font-weight: 400;
	margin-bottom: 20px;
}

.first-btn {
	justify-content: center;
	align-items: center;
	text-decoration: none;
	width: 100%;
	min-height: 50px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-size: 12px;
	color: #fff;
	background: linear-gradient(to bottom, #572671 80%, #451a5a);
	border: none;
	transition: all 0.7s;
	cursor: pointer;
}

.first-btn:hover {
	background: linear-gradient(to bottom, #a80f71 80%, #880c5a);
}
