@media screen and (max-width: 1320px) {
	/* Seccion servicios */
	.service-card {
		width: 100%;
		gap: 30px;
	}

	.item__tittle {
		height: 45px;
	}

	.item__container {
		max-width: 30%;
	}

	.item__content {
		font-size: 11px;
	}

	/* Seccion Eventos */

	#section-item__container {
		margin: 0;
	}

	.evento-container {
		width: 30%;
	}

	.img-container {
		width: 100%;
	}

	.titulo-evento {
		font-size: 14px;

		margin: 10px 0 0 0;
	}

	.fecha-evento {
		font-size: 12px;
		margin: 0 0 10px 0;
	}

	.first-btn {
		min-height: 35px;
	}
}
