* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
}

.header-container {
  display: flex;
  width: 100%;
  padding: 35px 15px;
  justify-content: space-around;
  align-items: center;
  background-color: #000;
  border-bottom: 20px solid #a80f71;
}

.header-logotipe {
  width: 130px;
}

.navbar-container {
  display: flex;
  gap: 35px;
  padding: 10px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 800;
  justify-content: space-around;
  align-items: center;
}

.navbar-item {
  list-style: none;
  text-decoration: none;
  font-size: 13px;
  color: #fff;
  transition: all 0.2s;
}

.navbar-item:hover {
  color: #a80f71;
  border-bottom: 4px solid #a80f71;
  border-radius: 3px;
}

body,
.main-container,
.section-container {
  display: flex;
  flex-direction: column;
}

body {
  justify-content: center;
  height: max-content;
  margin: auto;
  align-items: center;
}

.main-container {
  width: 80%;
}

.section-container {
  align-items: center;
  margin: 50px 50px 150px 50px;
  padding: 20px;
}

#service-container {
  flex-wrap: nowrap;
}

.section-container,
.form-tittle {
  padding: 10px;
}

#section-item__container,
.item__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
  margin-top: 20px;
}

.evento-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  margin: 30px;
  overflow: hidden;
  box-shadow: 0 0 10px #777;
  border-radius: 10px;
}

.img-container,
.img-event_container {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 225px;
  height: 400px;
  overflow: hidden;
}

.img-item {
  height: 100%;
  transition: all 0.7s;
}

.img-item:hover {
  height: 110%;
}

.titulo-evento {
  margin-top: 20px;
  margin-bottom: 3px;
  color: #000;
  font-size: 20px;
}

.fecha-evento {
  color: #a80f71;
  font-weight: 400;
  margin-bottom: 20px;
}

/* .btm-link {
} */

.btm-evento,
.btm-evento_stock {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 100%;
  height: 15%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 800;
  font-size: 15px;
  color: #fff;
  background: linear-gradient(to bottom, #572671 80%, #451a5a);
  border: none;
  transition: all 0.7s;
}

.btm-evento:hover,
.btm-evento_stock {
  cursor: pointer;
  background: linear-gradient(to bottom, #a80f71 80%, #880c5a);
}
.btm-evento_stock:hover {
  cursor: not-allowed;
}

#service-item {
  margin: 0 50px;
}
