* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Noto Sans", sans-serif;
}

header {
	height: 125px;
	background-color: #000;
}

header,
#footer_container {
	width: 100%;
}

body,
.header-container,
.navbar-container,
.section-container,
#section-item__container,
.evento-container,
.img-container,
.img-event_container,
.first-btn {
	display: flex;
}

.header-container {
	width: 100%;
	height: 100%;
	margin: auto;
	padding: 15px;
	justify-content: space-around;
	align-items: center;
	border-bottom: 5px solid #fff;
}

.header-logotipe {
	width: 100px;
}

.navbar-container {
	gap: 35px;
	padding: 10px;
	font-size: 11px;
	font-weight: 400;
	justify-content: space-around;
	align-items: center;
}

.navbar-item {
	height: 15px;
	letter-spacing: 1.5px;
	list-style: none;
	text-decoration: none;
	color: #fff;
	transition: all 0.2s;
}

.navbar-item:hover {
	color: #a80f71;
	border-bottom: 4px solid #a80f71;
	border-radius: 3px;
}

body,
.section-container {
	flex-direction: column;
}

body {
	justify-content: center;
	height: max-content;
	margin: auto;
	align-items: center;
}

#main-container {
	width: 100%;
}

.section-container {
	width: 60%;
	margin-top: 50px;
	margin: auto;
}

/* BANNER SECTION  */

#banner__section {
	position: relative;
}

#banner__section,
#parallax__item {
	width: 100%;
	height: 350px;
	background-image: url(/img/fondoparallax.jpg);
	background-size: cover;
	background-position-y: 60%;
	transition: all 1.5s;
}
#banner__section:hover {
	background-position-y: 55%;
}

#parallax__item {
	background-image: url(/img/firstparallax.png);
}

#parallax__item:hover {
	background-position-y: 63%;
}

#banner__tittle {
	position: absolute;
	bottom: 35px;
	left: 20%;
	font-weight: 800;
	font-style: italic;
	font-size: 35px;
	color: #fff;
	text-shadow: 2px 2px 0px #000;
	text-decoration: none;
}

#banner__tittle::selection {
	background-color: #000;
}

#galery_button-down,
#galery-button__tittle,
#galery_button-up {
	position: absolute;
}

#galery_button-up {
	display: none;
}

#galery_button-down,
#galery_button-up {
	left: calc(50% - 25px);
	bottom: -25px;
	width: 50px;
	height: 50px;
	border-style: none;
	border-radius: 100%;
	background-color: #fff;
	box-shadow: 0px 0px 6px #444;
}

#galery_button-up {
	box-shadow: none;
}
#galery_button-down:hover,
#galery_button-up:hover {
	background-color: #eee;
	cursor: pointer;
}

#galery-button__tittle {
	bottom: 35px;
	left: calc(50% - 26px);
	font-size: 16px;
	color: #fff;
}

.fa-chevron-down,
.fa-chevron-up {
	font-size: 18px;
}

#galery__section {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	column-gap: 10px;
	margin-top: 10px;
	width: 100%;
	height: 150px;
}

.galery-item {
	background-color: #eee;
}

/* CIERRE BANNER SECTION  */

.article-container {
	display: grid;
	width: 100%;
	text-align: center;
	margin: 50px auto;
	padding: 20px;
}

#service_tittle,
#event_tittle {
	font-size: 20px;
	color: #a80f71;
}

.service__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 100%;
}

.article-container,
.form-tittle {
	padding: 10px;
}

#section-item__container,
.item__container {
	flex-wrap: wrap;
	justify-content: space-evenly;
	text-align: left;
}

.item__container {
	display: inline-block;
	width: 225px;
	text-align: center;
	margin-top: 30px;
	font-weight: 600;
}

.evento-container {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	margin-top: 30px;
	overflow: hidden;
	box-shadow: 0 0 10px #777;
	border-radius: 10px;
}

.img-container,
.img-event_container {
	align-content: center;
	justify-content: center;
	width: 225px;
	height: 400px;
	overflow: hidden;
}

.img-item {
	height: 100%;
	transition: all 0.7s;
}

.img-item:hover {
	height: 110%;
}

.titulo-evento {
	margin-top: 20px;
	margin-bottom: 3px;
	color: #000;
	font-size: 20px;
}

.fecha-evento {
	color: #a80f71;
	font-weight: 400;
	margin-bottom: 20px;
}

.first-btn {
	justify-content: center;
	align-items: center;
	text-decoration: none;
	width: 100%;
	height: 15%;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-weight: 800;
	font-size: 15px;
	color: #fff;
	background: linear-gradient(to bottom, #572671 80%, #451a5a);
	border: none;
	transition: all 0.7s;
}

.first-btn:hover {
	cursor: pointer;
	background: linear-gradient(to bottom, #a80f71 80%, #880c5a);
}
